body{
    background-image: url(./Images/premium_photo-1669799711984-e7043994659d.jpeg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-shadow: 0px 0px 2px whitesmoke;
}

li:hover{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-shadow: 0px 0px 5px deeppink;
    color: deeppink;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: white;
}

#companyname{
    color: orange;
    font-size: 20px;
    font-weight: 600;
}

#search{
    display: flex;
}

.query{
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-shadow: 0px 0px 1px white;
    border-right: 0px solid white;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.flag{
    background-color: darkorange;
    border-radius: 5px;
    border: 0px solid white;
    text-shadow: 0px 0px 5px white;
    padding: 0px 10px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-top: 1px;
}

.hero{
    display:flex;
    margin: 100px 10px;
}

.text{
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 0px;
}

.development{
    color:darkorange;
    text-shadow: 0px 0px 3px white;
}

#join{
    border-radius: 5px;
    border: 1px solid white;
    background-color: darkorange;
    padding: 2px 10px;
    text-shadow: 0px 0px 3px white;
    text-transform: uppercase;
}

.signin{
    background-color: black;
    text-align: center;
    padding: 10px 5px;
    border: 0px solid white;
    border-radius: 10px;
}

#btn1{
    padding: 5px 50px;
    border-radius: 5px;
    color: darkgoldenrod;
    border: 0px solid white;
    text-shadow: 0px 0px 5px deeppink;
}

.email{
    background-color: black;
    padding-left: 0px;
    border: 0px solid white;
    border-bottom: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    color: floralwhite;
    text-shadow: 0px 0px 5px deeppink;
    padding-top: 5px;
}

.password{
    background-color: black;
    padding-left: 0px;
    border: 0px solid white;
    border-bottom: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    color: ivory;
    text-shadow: 0px 0px 5px deeppink;
    padding-top: 5px;
}

#btn2{
    padding: 5px 60px;
    border-radius: 5px;
    background-color: darkgoldenrod;
    border: 0px solid white;
    text-shadow: 0px 0px 5px white;
}

#signup-link{
    color: chocolate;
}

#signup-link:hover{
    color: deeppink;
    text-transform: uppercase;
}

button:hover{
    background: linear-gradient(chocolate, deeppink);
}